{% extends 'base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-3">Карьера</h1>
</div> 
<div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Профессионалам</strong>
              	<h4 class="mb-0"><a class="text-dark" href="/professional">Заполнить анкету</a>
              	</h4>
              	<hr class="mb-0">
              <p class="card-text mb-auto">Наша команда профессионалов ежедневно участвует в решении интересных задач, для чего мы создаем и применяем новые подходы. Мы растём, следуя за динамикой роста компании, получая возможность раскрыть свой потенциал</p>
            </div>
            <!-- <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" src="https://ekaterinburg-tr.gazprom.ru/d/textpage/fd/253/gzp_4450.jpg" data-holder-rendered="true" style="width: 200px; height: 250px;"> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Студентам и выпускникам</strong>
              	<h4 class="mb-0"><a class="text-dark" href="/student">Заполнить анкету</a>
              	</h4>
              	<hr class="mb-0">
              <p class="card-text mb-auto">«Газпром трансгаз Екатеринбург» заинтересован в квалифицированных молодых специалистах. Компания ведет системную работу с выпускниками и студентами, принимая лучших на работу.</p>
            </div>
            <!-- <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" src="https://ekaterinburg-tr.gazprom.ru/d/textpage/fd/253/gzp_4450.jpg" data-holder-rendered="true" style="width: 200px; height: 250px;"> -->
          </div>
        </div>
      </div>

{% endblock %}